<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> 
    </head>


    <body>

        <header>
            <h3>Patient Information</h3>
        </header>
          
        <section>

            <nav>
                <ul>
                    <li><a href="#">Back</a></li>
                    <li><a href="#">Next</a></li>     
                    <img src="https://static.tvtropes.org/pmwiki/pub/images/morty_smith_2.png" style="width:100px;height:100px;">  
                     <!-- was having file issues with trying to use my computer to find image so i used the url instead and had much 
                    better results-->
                </ul>
            </nav>
        
            <article>
                <h1>Reshad Bhuiyan</h1>
                <p>Address: 12 candyland rd, gerogetown, CA, 11324 </p>
                <p>Insurance: Health First</p>
                <p>Copay: 25$ 
                    <a href="https://www.w3schools.com/html/html_layout.asp">    W3 School   </a>    </p>
            </article>

        </section>
          
        <footer>
            <p>Copyright 2022 - Reshad Bhuiyan </p>
        </footer>

    </body>


</html>