<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>
    <body>
        <h1> This is a header aka page 1</h1>
        <button> Click 1 </button>
        <button class="specialButton1"> Click 2</button>
        <p> What is love? </p>
        <image src="C:\Users\Shad\.pyenv\PProjects\Flask-html\templates\rick-astley-never-gonna-give-you-up.gif"></image>
    </body>
</html>